---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $darkGray;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-name a {
  color: inherit;
  text-decoration: none;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 80px;
  padding-bottom: 100px;
}

footer {
  padding: 0;
}

//
// Blog subscription section
//

.subscription-section {
  background-color: #F8F6F0;
  border: 1px solid #E6E0D0;
  border-radius: 6px;
  padding: 18px;
  margin-top: 30px;
  text-align: center;
}

.subscription-title {
  color: $darkerGray;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.subscription-description {
  color: $gray;
  font-size: 0.95em;
  line-height: 1.4;
  margin-bottom: 15px;
}

.subscription-button {
  background-color: $darkerGray;
  color: $white;
  padding: 10px 22px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;

  &:hover, &:active {
    background-color: darken($darkerGray, 10%);
    color: $white;
    text-decoration: none;
  }
}

//
// Blog list styling
//

.blog-list-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.7em;
}

.blog-list-date {
  color: #888;
  min-width: 90px;
  font-size: 1.05em;
  margin-right: 0.5em;
}

.blog-list-title a {
  color: $darkerGray;
  text-decoration: none;
  font-size: 1.13em;

  &:hover {
    text-decoration: underline;
  }
}

//
// Post meta (date + reading time)
//

.post-meta {
  color: $gray;
  font-size: 0.95em;
  margin-bottom: 1.5em;
}

//
// Share links
//

.share-links {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $lightGray;
  font-size: 0.95em;
  color: $gray;

  a {
    color: $darkerGray;
    font-weight: 500;
    margin: 0 2px;

    &:hover {
      color: $blue;
    }
  }
}

//
// Post footer
//

.post-footer-links {
  margin-top: 2em;

  a {
    font-size: 0.95em;
    color: $gray;

    &:hover {
      color: $blue;
    }
  }
}

.post-footer-socials {
  margin-top: 1em;
  color: $gray;
  font-size: 0.95em;

  a {
    color: $darkerGray;
    &:hover {
      color: $blue;
    }
  }
}

//
// Blog list excerpt
//

.blog-list-excerpt {
  display: block;
  color: $gray;
  font-size: 0.88em;
  line-height: 1.4;
  margin-top: 2px;
}

//
// Homepage social links
//

.social-links {
  margin-top: 1.5rem;
  font-size: 1.1rem;

  a {
    color: $darkerGray;
    text-decoration: none;
    margin-right: 1.2em;
    font-weight: 500;
    border-bottom: 1px solid $lightGray;
    padding-bottom: 2px;

    &:hover {
      color: $blue;
      border-bottom-color: $blue;
    }
  }
}

//
// Footer
//

.footer-text {
  text-align: center;
  color: $gray;
  font-size: 0.85em;
  border-top: 1px solid $lightGray;
  padding-top: 1.5em;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
